//1.body 2.heading
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
  --Pink: hsl(322, 100%, 66%);
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
  line-height: 2;
  &:hover {
    color: var(--Grayish-Blue);
  }
}
.btn {
  background: var(--Pink);
  border: none;
  color: #fff;
  width: 70%;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
  &:hover {
    background: rgb(240, 128, 212);
    color: #000;
  }
}
.top {
  background: var(--Very-Pale-Cyan);
  background-image: url('../images/bg-hero-mobile.svg');
  background-repeat: repeat;
  background-size: cover;
  background-position: bottom 60px left 10px;
  .navbar {
    padding: 32px 24px 0;
    display: flex;
    justify-content: space-between;
    .main__logo,
    .trial {
      width: 150px;
    }
    .trial {
      background: #fff;
      border: none;
      border-radius: 30px;
      box-shadow: 0.5px 0.5px 8px var(--Grayish-Blue);
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background: green;
        color: white;
      }
    }
  }
  .hero {
    margin: 78px 32px;
    text-align: center;
    .hero__content {
      .hero_heading {
        font-size: 2.2rem;
      }
      .hero_text {
        margin: 30px;
        line-height: 1.5;
      }
    }
    .hero__img {
      width: 90%;
      margin: 32px 0;
    }
  }
}

.cards {
  .card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin: 65px 30px;
    padding: 30px 55px;
    border-radius: 10px;
    box-shadow: 0 0 8px var(--Grayish-Blue);
    .card-img {
      width: 200px;
    }
    .card__info {
      margin-top: 30px;
      p {
        color: var(--Grayish-Blue);
        margin-top: 20px;
        line-height: 1.5;
        font-weight: normal;
      }
    }
  }
}
.community {
  background: #fff;
  text-align: center;
  margin: 0 30px;
  padding: 50px 0;
  border-radius: 20px;
  box-shadow: 0 0 8px var(--Grayish-Blue);
  position: relative;
  top: 80px;
  z-index: 2;
  h2 {
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
  .btn {
    margin-bottom: 10px;
  }
}

footer {
  background: var(--Very-Dark-Cyan);
  color: #fff;
  padding: 150px 20px 100px;
  position: relative;
  z-index: 1;
  .logo__content {
    .footer_logo {
      width: 150px;
      filter: brightness(0.6) grayscale(100%) contrast(3.4) saturate(9.9)
        invert(100%);
    }
  }
  .location,
  .telephone,
  .mail {
    display: flex;
    margin: 20px 0;
    img {
      width: 15px;
      height: 15px;
      position: relative;
      top: 8px;
    }
    p {
      margin-left: 30px;
    }
  }
  .links {
    margin: 50px 0;
  }
  .social__icons {
    text-align: center;
    i {
      width: 40px;
      height: 40px;
      border: 1px solid #fff;
      padding: 10px;
      border-radius: 50%;
    }
    .twitter {
      margin: 0 20px;
    }
  }
  .copyright {
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
  }
}

@media screen and(min-width:720px) {
  .cards {
    .card:nth-child(odd) {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      text-align: left;
      padding: 30px 100px 40px 40px;
      .card-img {
        position: relative;
        right: -50px;
      }
    }
    .card:nth-child(even) {
      flex-direction: row-reverse;
      text-align: left;
      padding: 30px 30px 60px 100px;
      .card-img {
        position: relative;
        left: -80px;
      }
    }
    .card__info {
      width: 60%;
      h2 {
        font-size: 1.3rem;
      }
      p {
        font-size: 0.95rem;
      }
    }
  }
}

@media screen and(min-width:793px) {
  .top {
    background: var(--Very-Pale-Cyan);
    background-image: url('../images/bg-hero-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 60px right 10px;
    .hero {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;
      .hero__content {
        text-align: left;
        position: relative;
        left: -10px;
        padding: 0 30px;
        .hero_heading {
          font-size: 1.3rem;
        }
        .hero_text {
          font-size: 0.95rem;
          margin: 20px 0;
        }
      }
      .hero__img {
        margin: 0;
        width: 350px;
        position: relative;
        left: 20px;
      }
    }
  }
  .cards {
    .card {
      .card__info:nth-child(odd) {
        padding: 30px 40px 30px 0;
        text-align: left;
      }
    }
  }
}

@media screen and (min-width: 890px) {
  .cards {
    .card {
      .card-img {
        width: 40%;
      }
    }
  }
}

@media screen and(min-width:920px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 200px 80px 50px;
    position: relative;
    .logo__content {
      width: 40%;
    }
    .links {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: 'about career' 'what blog' 'faq contact';
      grid-gap: 10px 80px;

      .about {
        grid-area: about;
      }
      .what-we-do {
        grid-area: what;
      }
      .faq {
        grid-area: faq;
      }
      .career {
        grid-area: career;
      }
      .blog {
        grid-area: blog;
      }
      .contact {
        grid-area: contact;
      }
    }
    .social__icons {
      display: flex;
      position: relative;
      top: 50px;
      i {
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        padding: 8px;
        border-radius: 50%;
        font-size: 0.7rem;
      }
    }
    .copyright {
      position: absolute;
      bottom: 40px;
      right: 10px;
      font-size: 0.7rem;
    }
    p,
    li {
      font-size: 0.8rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  .top {
    .hero {
      .hero__content {
        width: 50%;
        .hero_heading {
          font-size: 2.5rem;
        }
        .hero_text {
          margin: 45px 0;
        }
      }
      .hero__img {
        width: 70%;
      }
    }
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .card:nth-child(odd) {
      width: 85%;
      .card__info {
        width: 50%;
        padding-left: 100px;
        h2 {
          font-size: 2rem;
        }
      }
      .card-img {
        width: 35%;
      }
    }
    .card:nth-child(even) {
      width: 85%;
      .card__info {
        width: 50%;
        padding-left: 100px;
        h2 {
          font-size: 2rem;
        }
      }
    }
  }
  .community {
    width: 40%;
    margin: auto;
  }
  footer {
    .links {
      position: relative;
      left: -80px;
    }
    .social__icons {
      position: relative;
      left: -50px;
    }
  }
}
